// --------------------------------
// VARIABLES
// --------------------------------

// COLORS
$headline-primary: #58e1c1; // TEAL
$headline-secondary: #777; // GRAY
$default: #51ddfc; // LIGHT BLUE
$error: #e4757a; // LIGHT RED
$info: #927bc1; // PURPLE
$success: #63cc82; // LIGHT GREEN
$warning: #fd7856; // ORANGE
$img-border: #ccc;

// BREAKPOINTS
$breakpoint-l: 768px;
